/* Global style
------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.2rem;
    padding: 30px;
}

/* Header
------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: orange;
}

#logo {
    height: 70px;
}

#logo img {
    max-height: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-links a:hover {
    color: white;
}

/* Main
------------------------------------*/
.form-group {
    margin: 0 auto 1.25rem auto;
}
.page-wrapper {
    margin-top: 100px;
    padding: 40px 10px 10px;
}
#title {
    font-size: 4rem;
    text-align: center;
}
form {
    background: white;
    padding: 2.5rem 0.75rem;
    border-radius: 8px;
    margin-top: 2rem;
}

label {
    display: flex;
}

.input-radio,
.input-checkbox {
    margin-right: 0.5rem;
}

.form-control {
    width: 100%;
    height: 2rem;
    padding: 5px;
}

#button-list {
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    margin: 0 25px;
    padding: 8px 20px;
    background-color: orange;
    border-radius: 3px;
}
/* Footer
------------------------------------*/
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 600;
}
footer a:hover {
    text-decoration: underline;
}
/* Responsive
------------------------------------*/
@media screen and (min-width: 961px) {
    header {
        flex-direction: row;
    }
    .form-group {
        display: flex;
    }
    .form-group > label, .form-group > p {
        min-width: 10%;
        padding-right: 10px;
    }
}
@media screen and (max-width: 960px) {
    header,
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    .page-wrapper {
        margin-top: 200px;
    }

}