/* Global style
------------------------------------*/
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.content-wrap {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    /* padding: 40px 0; */
    margin-top: 50px;
    /* background-color: yellow; */
    /* border: 2px dashed orange; */
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin: 0;
}
h2 {
    font-size: 2.2rem;
}
p {
    line-height: 1.75;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.divider {
    border-bottom: 1px dashed black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.divider:last-child {
    border: none;
}

/* Navigation Bar
------------------------------------*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    background-color: #C25777;
    z-index: 10;
}

.nav-links {
    display: flex;
    margin-right: 10px;
}

.nav-links a {
    display: inline-flex;
    padding: 0 20px;
    text-decoration: none;
    color: #F7FFF7;
    font-weight: 600;
}

.nav-links a:hover {
    color: #FFE66D;
}


/* Header
------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border: solid 2px black;
}
.header-text {
    position: relative;
    min-width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-image {
    min-width: 60%;
    margin-left: 1rem;
    overflow: hidden;
}
.header-image img {
    height: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 2px;
}

/* Main
------------------------------------*/
main {
    display: flex;
}
.blog-content {
    min-width: 70%;
}
.aside-info {
    min-width: 30%;
    border: 1px solid black;
    padding: 0 5px;
}
.aside-info img {
    width: 100%;
}
.btn {
    color: #F7FFF7;
    background-color: #2F3061;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #2427b1;
}
iframe, table {
    display: flex;
    margin: 5px auto;

}
table {
    border: 1px solid black;
}
.other-blogs > h2 {
    border-bottom: 1px solid;
}