/* Global style
------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-size: 2.2rem;
    padding: 30px;
}
/* Header
------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: orange;
}
#logo {
    height: 70px;
}
#logo img {
    max-height:100%;
    object-fit: contain;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.nav-links {
    display: flex;
}
.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-links a:hover {
    color: white;
}
/* Main
------------------------------------*/
.category {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    min-height: 320px;
}
.category a:hover {
    color: orange;
}
#fiction {
    margin-top: 70px;
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.book-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.book-title {
    font-size: 2rem;
    padding: 2rem;
}

/* Footer
------------------------------------*/
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    font-style: bold;
}

footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 600;
}
footer a:hover {
    text-decoration: underline;
}
/* Responsive
------------------------------------*/
@media screen and (min-width: 961px) {
    header {
        flex-direction: row;
    }
}
@media screen and (max-width: 960px) {
    header, .nav-links {
        flex-direction: column;
        align-items: center;
    }
    #fiction {
        margin-top: 200px;
    }
}