/* Global style
------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
h2 {
    padding: 30px;
    font-size: 2.2rem;
}
.page-wrapper {
    margin-top: 100px;
    padding: 0 5rem;
}
/* Header
------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: orange;
}
#logo {
    height: 70px;
}
#logo img {
    max-height:100%;
    object-fit: contain;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.nav-links {
    display: flex;
}
.nav-links a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-links a:hover {
    color: white;
}
/* Home Page & Category page
------------------------------------*/
.category {
    align-items: center;
    min-height: 320px;
}
.category a:hover {
    color: orange;
}
.title {
    font-size: 3.2rem;
    text-align: center;
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.book-image {
    height: calc(100% - 6.7rem);
    width: 100%;
    object-fit: cover;
}

.book-title {
    font-size: 2rem;
    padding: 2rem;
}
@media screen and (max-width: 960px) {
    header,
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    .page-wrapper {
        margin-top: 200px;
    }
}
/* Contact Page
------------------------------------*/
form {
    padding: 1rem 0.75rem;
    margin-top: 2rem;
    border-radius: 8px;
    background: white;
}
label {
    display: flex;
}
.form-group {
    margin: 0 auto 1.25rem auto;
}
.input-radio,
.input-checkbox {
    margin-right: 0.5rem;
}
.form-control {
    width: 100%;
    height: 2rem;
    padding: 5px;
}
#button-list {
    display: flex;
    justify-content: center;
}
#button-list button {
    display: inline-block;
    margin: 0 25px;
    padding: 8px 20px;
    background-color: orange;
    border-radius: 3px;
}
@media screen and (min-width: 961px) {
    .form-group {
            display: flex;
    } 
    .form-group > label, .form-group > p {
        min-width: 10%;
        padding-right: 10px;
    }
}
/* Book details page
------------------------------------*/
.path {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 600;
}
.breadcrumb a:hover {
    color: orange;
}
.book-info {
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-part {
    margin: 10px;
}
#book-small-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#book-small-img > img {
    padding: 5px;
    object-fit: contain;
}
#buy-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 2rem;
}
#buy-book h2 {
    padding-top: 0;
    font-size: 3.5rem;
}
#buy-book button {
    margin: 20px 0px;
    padding: 20px;
}
.book-description h2 {
    padding: 10px 0;
    font-size: 2.5rem;
}
.book-description p {
    padding: 8px 0;
    line-height: 1.25;
    font-family: sans-serif;
}
@media screen and (min-width: 961px) {
    .info-part {
        height: 500px;
    }
    #book-small-img > img {
        max-height: calc(100% / 3);
    }
}
@media screen and (max-width: 960px) {
    .book-info {
        flex-direction: column;
        align-items: center;
    }
    #book-small-img {
        flex-direction: row;
        max-width: 100%;
    }
    #book-small-img > img {
        max-width: calc(100% / 3);
    }
}
/* Footer
------------------------------------*/
footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ddd;
}

footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 600;
}
footer a:hover {
    text-decoration: underline;
}

